@page
@model HelpModel
@{
    ViewData["Title"] = "Help";
}

<div class="text-center">
    <h1 class="display-4">RequestTracker Help</h1>

    <p>RequestTracker is designed to help IT Technicians track service requests. It is comprised of four primary categories: Service Requests, Clients, Technicians, and Technician Notes, all of which can be found in the navigation bar above.</p>

    <p>Each category has it's own main page which allows for the creation of a new item of that category. After an item has been created, it will be displayed on its category's main page and have links allowing the user to edit, get details, or delete the item.</p>
</div>
