@page
@model RequestTracker.Pages.ServiceRequests.CreateModel

@{
    ViewData["Title"] = "Create New Service Request";
}

<h1>Create</h1>

<h4>Service Request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            @* asp-validation-summary helps provides validation to catch errors.*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @* generates the label caption and the "for" attribute for the Title property *@
                <label asp-for="ServiceRequest.ClientID" class="control-label"></label>
                @* generates the dropdown to select a client *@
                <select asp-for="ServiceRequest.ClientID" class ="form-control" asp-items="ViewBag.Client"></select>
            </div>
            <div class="form-group">
                <label asp-for="ServiceRequest.Description" class="control-label"></label>
                <textarea asp-for="ServiceRequest.Description" class="form-control"></textarea>
                <span asp-validation-for="ServiceRequest.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
